

<h3>Gestion Projet - Examen Node JS  </h3>

<form method="POST">
    <label> Libelle </label>
    <input type="text" name="libelle" />
    <br/>
    <label> description </label>
    <input type="text" name="description" />
    <br/>
    <label> Duree </label>
    <input type="number" name="description" />
    <br />
    <button type="submit"> Ajouter </button>
</form>





